
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hea{

  background-color: #F4F4F4;
}
.head{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #E7E7E8;
  text-align: center;
  padding-top: 10px;
}
.head a{
  color: #414143;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 10px !important;
    text-transform: none;
}
.head2{
  display: flex;
  margin-top: 17px;
  padding: 0 16px;
  margin-bottom: 10px;
}
.leftlo{
  display: flex;
  position: absolute;
  right: 15px;
  align-items: center;
  justify-content: center;

}

.host{
  border: 1px solid;
  transition: .5s;
  margin-right: 30px;  


  border-radius: 0;
    cursor: pointer;
  
    outline: none;
    
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    height: 26px;
    line-height: 25px;
    padding: 0 10px;
    background-color: #FFFFFF;
    border: 1px solid #414143;
    color: #414143;
    height: 27px;
    margin: 0 12px;
    
    padding-top: 5px;
  }
  .host h4{
    font-size: 13px;
    font-weight: 900;
}
.host:hover{
  background-color: #F4F4F4;
}
.iconhum{
  padding: 1px 8px;
    width: 68px;
    border-radius: 8px;
    transition: .6s;
}
.iconhum:hover{
  background-color:  #F4F4F4;
;
}
.hum{
  margin-right: 5px !important;
}
.mainpost{
  background: url(./assets/poster.png);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.parentdiv{
  width: 70%;
  background-color: #FFFFFF;
  height: 56px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20px;
  display: flex;
}
.tag{
  width: 25%;
  margin-left: 17px;
}
.input input{
  width: 100%;
  height: 30px;
  font-size: 17px;
  border: none;
  outline: none;
}
.p {
  font-size: 12px;
  color: #121214;
  padding-top: 5px;
  font-weight: 500;
  margin-bottom: 0;
  
}
.line{
  border-left: 1px solid;
  height: 40px;
  margin-top: 7px;
  padding-right: 10px;
}
.date{
  border: none;
}
.date input{

  border: none;
  font-size: 15px !important;
  margin-left: -10px;
 
}
.dateone{
  display: flex;
}
.serhide{
  display: none;
}
.search{
  margin-top: 10px;
  margin-left: 20px;
}
.sbtn{
  border-radius: 40px;
    height: 40px;
    background: #593CFB;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    line-height: 1;
    margin-top: 10;
    width: 40px;
}


.heading{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading h1{
  font-size: 90px;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 90px;
  margin-top: 40px;
}
.heading2{
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 32px;
  margin-top: 30px;
}
.background{
  background-color: #F2E9FF;
    height: 100%;
    width: 100%;
    max-width: 790px;
    height: 32px;
    
    position: relative;
    top: -26px;
    z-index: -1;
}

.cardheading1 h2{
  margin: 0;
  color: #121214;
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 20px;
  text-transform: none;
  padding-left: 4px;
}


.sl{
  color: black;
}

.maincard{
  background-color: #FFFFFF;
    border-radius: 15px !important;
    box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
    color: #231F20;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 190px;
    scroll-snap-align: start;
    scroll-margin: 0 8px
}
.cardimg{
  height: 135px;
    width: 190px;
}
.cardimg img{
  height: 140px;
}
.cardbody{
  padding: 9px;
}
.cardtitle{
  margin: 0;
    color: inherit;
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 20px;
    text-transform: none;
}
.card1{
  margin-top: 30px;
}






  @media screen and (max-width:768px) {
    .head a{
      font-size: 12px;
    }
    .parentdiv{
      height: 232px;
      border-radius: 8px;
      display: block;
    }
    .line{
      display: none;
    }
    .input{
      border-bottom: 1px solid ;
      
    }
    .tag{
      width: 95%;
    }
    .host{
      display: none;
    }
    .datepickerdiv{
      width: 95%;
      border-bottom: 1px solid;
      margin-left: 17px;
    }
    .ic{
      display: none;
    }
    .serhide{
      display: block;
      
    }
    .sbtn{
      width: 95%;
      border-radius: 8px;
      text-align: center;
    }
    .heading h1{
      color: #121214;
    margin-bottom: 0;
    margin-top: 24px;
    text-align: center;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: -0.2px;
    line-height: 44px;
    text-transform: none;
    }
    .heading2{
      margin: 0;
      color: #121214;
      margin-bottom: 15px;
      margin-top: 8px;
      text-align: center;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 0;
      line-height: 20px;
      text-transform: none;    
    }
    .background{
      width: 100%;
    } 
  }

  @media screen and (max-width:425px) {
    .background{
      top: -48px;
    }
    .tag{
      width: 90%;
    }
    .datepickerdiv{
      width: 90%;
    }
    .input input{
      font-size: 16px;
    }
    .sbtn{
      border-radius: 1px;
    }
  }
